SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV3aHBydnNpcGxjcm55YXZlYWFyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3Mzc4NjIsImV4cCI6MjA5MjMxMzg2Mn0.nenA5OHxryDGGFYSfyEd2DP5pTvGI5LL5GnRFSaUiBU"
SUPABASE_PUBLISHABLE_KEY="sb_publishable_ZAfspCOBnQrUeNvXNpBS7w_aoif0y1P"
SUPABASE_URL="https://ewhprvsiplcrnyaveaar.supabase.co"
POSTGRES_DATABASE="postgres"
POSTGRES_HOST="db.ewhprvsiplcrnyaveaar.supabase.co"
POSTGRES_PASSWORD="HwkA7S0B6hctXtju"
POSTGRES_PRISMA_URL="postgres://postgres.ewhprvsiplcrnyaveaar:HwkA7S0B6hctXtju@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?sslmode=require&pgbouncer=true"
POSTGRES_URL="postgres://postgres.ewhprvsiplcrnyaveaar:HwkA7S0B6hctXtju@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres?sslmode=require&supa=base-pooler.x"
POSTGRES_URL_NON_POOLING="postgres://postgres.ewhprvsiplcrnyaveaar:HwkA7S0B6hctXtju@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres?sslmode=require"
POSTGRES_USER="postgres"
SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV3aHBydnNpcGxjcm55YXZlYWFyIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY3Mzc4NjIsImV4cCI6MjA5MjMxMzg2Mn0.nenA5OHxryDGGFYSfyEd2DP5pTvGI5LL5GnRFSaUiBU"
SUPABASE_JWT_SECRET="FS/o1RwYmfaLrRoaaQBwSeWFhFgn7QhgcRWP4ggtdc2lA8awgEE0f4XGWnYttNsKVxIncYI5msMUokqvarkeUA=="
SUPABASE_PUBLISHABLE_KEY="sb_publishable_ZAfspCOBnQrUeNvXNpBS7w_aoif0y1P"
SUPABASE_SECRET_KEY="sb_secret_HGaBkgxapkssxeY_0QcqpQ_FFMUtlf7"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImV3aHBydnNpcGxjcm55YXZlYWFyIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjczNzg2MiwiZXhwIjoyMDkyMzEzODYyfQ.ouFt62n13RC0CLLz61rgadMm3ZJTJwEs6h9gCey-HEE"
SUPABASE_URL="https://ewhprvsiplcrnyaveaar.supabase.co"